:root {
}

.healthbar-filler-numbered {
    background-image: url("project://database/Assets/Sprites/UI/IndividualBarSliced.png?fileID=2800000&guid=96d2ae60455175444965a9f780f1aeff&type=3#IndividualBarSliced");
    width: 59px;
    height: 89%;
    top: 5px;
    left: 5px;
    scale: 1.05 1.02;
}

.healthbar-filler-numbered-off {
    opacity: 0;
}

.score-text-front {
    font-size: 75px;
    top: 15%;
    left: 0;
    -unity-text-align: middle-center;
    white-space: nowrap;
    -unity-font-definition: url("project://database/Assets/Fonts/BoldPixels.asset?fileID=11400000&guid=87c9e7b2b6e09f04bb8f4791fc5fcd01&type=2#BoldPixels");
    -unity-font-style: normal;
    -unity-text-outline-width: 0;
    -unity-text-outline-color: rgb(255, 255, 255);
    text-shadow: 0 0 0 rgb(255, 255, 255);
    letter-spacing: 0;
    color: rgb(255, 255, 255);
}

.score-text-shadow {
    color: rgb(0, 12, 0);
    top: 0%;
    -unity-font-style: normal;
}

.timer-text-shadow {
    font-size: 30px;
    top: 0%;
    left: 0%;
    -unity-text-align: middle-center;
    white-space: nowrap;
    -unity-font-definition: url("project://database/Assets/Fonts/BoldPixels.asset?fileID=11400000&guid=87c9e7b2b6e09f04bb8f4791fc5fcd01&type=2#BoldPixels");
    -unity-font-style: normal;
    -unity-text-outline-width: 0;
    position: relative;
    color: rgb(0, 0, 0);
}

.timer-text-front {
    font-size: 70px;
    top: -7px;
    left: 0%;
    -unity-text-align: middle-center;
    white-space: nowrap;
    -unity-font-definition: url("project://database/Assets/Fonts/BoldPixels.asset?fileID=11400000&guid=87c9e7b2b6e09f04bb8f4791fc5fcd01&type=2#BoldPixels");
    -unity-font-style: normal;
    -unity-text-outline-width: 0;
    position: relative;
}

.up-screen-bar {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/UI/ScreenBars/ScreenBars.png?fileID=2800000&guid=130131bd0e8e7ea4e82c4af146dbad99&type=3#ScreenBars");
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 120px;
}

.down-screen-bar {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/UI/ScreenBars/ScreenBars.png?fileID=2800000&guid=130131bd0e8e7ea4e82c4af146dbad99&type=3#ScreenBars");
    position: absolute;
    top: 960px;
    left: 0;
    width: 1920px;
    height: 120px;
}

.character-portrait {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/UI/CharacterPortrait/Character_Portrait.png?fileID=4463095559245805313&guid=ee7eecb4c800c6249955495ddea85dd6&type=3#Character_Portrait_0");
    width: 98px;
    height: 100px;
    position: absolute;
    top: 150px;
    left: 20px;
}

.enemy-portrait {
    flex-grow: 1;
    background-image: url("project://database/Assets/Sprites/Enemies/Brute/Brute_Attack.png?fileID=-4487083071787773322&guid=b0db4fb708b50a0469a795a644481458&type=3#Brute_Attack_0");
    width: 150px;
    height: 150px;
}

.enemy-counter-text {
    width: 100px;
    height: 50px;
    align-self: center;
    -unity-text-align: upper-center;
    font-size: 75px;
    -unity-font-definition: url("project://database/Assets/Imports/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
}

.ui-text-generic {
    flex-grow: 1;
    -unity-font-definition: url("project://database/Assets/Imports/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    font-size: 65px;
    color: rgb(255, 255, 255);
    position: absolute;
    -unity-text-align: middle-center;
}

.button-specs {
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=-264501715&guid=a37e8466236089c45b610370218b5353&type=3#BAR3");
    -unity-font-definition: url("project://database/Assets/Imports/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    font-size: 70px;
    -unity-font-style: normal;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 540px;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.button-specs:hover {
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=-264501715&guid=a37e8466236089c45b610370218b5353&type=3#BAR3");
    -unity-font-definition: url("project://database/Assets/Imports/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    font-size: 70px;
    -unity-font-style: normal;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 540px;
    scale: 1.1 1;
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(201, 201, 201);
}

.button-specs:active {
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=-264501715&guid=a37e8466236089c45b610370218b5353&type=3#BAR3");
    -unity-font-definition: url("project://database/Assets/Imports/BoldPixels/Assets/font/BoldPixels.ttf?fileID=12800000&guid=71a55b0538d48354b87afab937af74d2&type=3#BoldPixels");
    font-size: 70px;
    -unity-font-style: normal;
    color: rgb(0, 0, 0);
    height: 100px;
    width: 540px;
    scale: 1.1 1;
    background-color: rgb(0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.logo-base {
    flex-grow: 1;
    position: absolute;
    width: 1000px;
    height: 550px;
    background-image: url("project://database/Assets/Sprites/UI/Menu/Logo.png?fileID=1404028623067837608&guid=1133ad7c11bb6ef42aec7398e1dd245d&type=3#Logo_0");
    top: 60px;
    left: 460px;
}

.buttonsContainer-base {
    flex-grow: 1;
    position: absolute;
    top: 55%;
    height: 440px;
    width: 540px;
    left: 690px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-self: auto;
    align-content: flex-start;
}

.MMLU-base {
    left: 0;
    top: 0;
    position: absolute;
    width: 960px;
    height: 540px;
    background-image: url("project://database/Assets/Sprites/UI/Menu/Main%20Menu.png?fileID=5561665765474925660&guid=9f3e6345a59dcd94687163b8f9874506&type=3#Main Menu_0");
}

.MMLD-base {
    position: absolute;
    top: 540px;
    left: 0;
    width: 960px;
    height: 540px;
    background-image: url("project://database/Assets/Sprites/UI/Menu/Main%20Menu.png?fileID=6936311897552531074&guid=9f3e6345a59dcd94687163b8f9874506&type=3#Main Menu_2");
}

.MMRD-base {
    left: 960px;
    top: 540px;
    position: absolute;
    width: 960px;
    height: 540px;
    background-image: url("project://database/Assets/Sprites/UI/Menu/Main%20Menu.png?fileID=-8138443389130145745&guid=9f3e6345a59dcd94687163b8f9874506&type=3#Main Menu_3");
}

.MMRU-base {
    top: 0;
    left: 960px;
    position: absolute;
    background-image: url("project://database/Assets/Sprites/UI/Menu/Main%20Menu.png?fileID=2798250516866983683&guid=9f3e6345a59dcd94687163b8f9874506&type=3#Main Menu_1");
    width: 960px;
    height: 540px;
}

.MML-play {
    left: -1000px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.MMR-play {
    left: 1920px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
}

.buttonsContainer-play {
    top: 1600px;
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
}

.logo-play {
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
    position: absolute;
    top: -600px;
}

.upContainer-play {
    flex-grow: 1;
    display: flex;
    position: absolute;
    top: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
    transition-delay: 1s;
}

.upContainer-base {
    position: absolute;
    top: -300px;
}

.downContainer-play {
    flex-grow: 0;
    position: absolute;
    display: flex;
    top: 0;
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
    transition-delay: 1s;
}



.downContainer-base {
    top: 300px;
    position: absolute;
}

.exitcredits {
    position: absolute;
    top: 70px;
    left: 618px;
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=701606609&guid=a37e8466236089c45b610370218b5353&type=3#A_LEFT");
    width: 100px;
    height: 75px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.exitcredits:hover {
    position: absolute;
    top: 70px;
    left: 618px;
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=701606609&guid=a37e8466236089c45b610370218b5353&type=3#A_LEFT");
    width: 100px;
    height: 75px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    scale: 1.1 1.1;
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(145, 145, 145);
}

.exitcredits:active {
    position: absolute;
    top: 70px;
    left: 618px;
    background-image: url("project://database/Assets/Imports/DEVNIK%202D/2D%20UI%20PIXEL%20BUTTONS/UI%20SIMPLE%20PIXEL%20UNSPLIT.png?fileID=701606609&guid=a37e8466236089c45b610370218b5353&type=3#A_LEFT");
    width: 100px;
    height: 75px;
    border-bottom-width: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    scale: 1.1 1.1;
}

.creditsBase {
    flex-grow: 1;
    position: absolute;
    width: 1720px;
    height: 880px;
    left: 100px;
    top: -1500px;
    display: flex;
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
}

.creditsDisplay {
    flex-grow: 1;
    position: absolute;
    width: 1720px;
    height: 880px;
    left: 100px;
    top: 140px;
    display: flex;
    transition-duration: 1s;
    transition-timing-function: ease-in-out-back;
}
